html {
    scroll-behavior: smooth;
}

nav {
    height: 60px;
    width: 100%;
    background-color: white;
    position: fixed;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
}

header {
    position: absolute;
}

#name {
    display: inline-block;
    text-align: center;
    padding: 20px 0;
    padding-left: 15px;
    transition: 1s;
}

nav ul {
    float: right;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    float: left;
}

nav a {
    display: inline-block;
    width: 100px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    padding: 20px 0;
    color: black;
    transition: 1s;
}

nav a:hover {
    color: #6C6C6C;
}

nav a#toggle-btn {
    display: none;
}

body{
    background-color: lightgray;
    font-family: Montserrat; 
    margin: 0;
}

#header-name {
    justify-content: center;
    float: left;
    padding-left: 15px;
}

.nav-item {
    float: right;
    padding: 5px;
    text-decoration: none;
    color: darkgray;
}

.container {
    margin: 0 auto;
    padding-top: 60px;
    height: 350px;
    width: 100%;
    background-color: white;
    color: white;
    text-align: left;
    vertical-align: middle;
    display: grid;
}

h1, h2, h3 {
    margin: 10px;
}

h1 {
   font-family: Montserrat;
   font-weight: 500;
   font-size: 70px;
   color: rgb(41, 41, 41);
   display: inline-block;
   vertical-align: middle;
   line-height: 250px;
   margin: 10px;
   margin-bottom: 0px;
   height: 50px;
}

h2 {
    color:slategray;
    font-family: Roboto;
    padding-left: 5px;
}

.about-content {
    background-color: slategray;
    height: 500px;
}

.about-content h2 {
    color: black;
    padding-top: 120px;
}

.about-content h1 {
    color: white;
}

.projects-section h1 {
    padding-top: 100px;
}

.projects-section h2 {
    padding-top: 120px;
}

.projects-section {
    height: 500px;
    background-color: white;
}