html {
    scroll-behavior: smooth;
}

nav {
    height: 60px;
    width: 100%;
    background-color: white;
    position: fixed;
}

#name {
    display: inline-block;
    text-align: center;
    padding: 20px 0;
    padding-left: 15px;
}

nav ul {
    float: right;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    float: left;
}

nav a {
    display: inline-block;
    width: 100px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    padding: 20px 0;
    color: black;
    transition: 1s;
}

nav a:hover {
    color: #6C6C6C;
}

nav a#toggle-btn {
    display: none;
}
body{
    background-color: lightgray;
    font-family: Montserrat; 
    margin: 0px;
}

#header-name {
    justify-content: center;
    float: left;
    padding-left: 15px;
}

.nav-item {
    float: right;
    padding: 5px;
    text-decoration: none;
    color: darkgray;
}

.container {
    height: 500px;
    width: 100%;
    background-color: white;
}